@font-face {
    font-family: Montserrat-Medium;
    src: url("Montserrat/Montserrat-Medium.ttf");
}
@font-face {
    font-family: Montserrat-Bold;
    src: url("Montserrat/Montserrat-Bold.ttf");
}
@font-face {
    font-family: Montserrat-ExtraBold;
    src: url("Montserrat/Montserrat-ExtraBold.ttf");
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url("Montserrat/Montserrat-SemiBold.ttf");
}
p, a, button, li {
    font-family: Montserrat-Medium;
}
h1 {
    font-family: Montserrat-ExtraBold;
}
h4 {
    font-family: Montserrat-Bold;
}
h5 {
    font-family: Montserrat-SemiBold;
}
body {
    margin: 0;
    padding: 0;
}
.header{
    width: 1170px;
    margin: 5px auto 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section {
    width: 1170px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 0;*/
}
.section:nth-child(3){
    width: 100%;
     background-color: #FFF9EA;
     padding: 0px;
}

.header img {
   width: 7%; 
}

.header .nav {
    width: 34%;
    display: flex;
    justify-content: space-between;
}

.header .nav a {
    text-decoration: none;
    color: #774E2E;
    display: flex;
    align-items: center;
    font-size: 16px;
    letter-spacing: 1px;
}
.main_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 130px 0;
}
.main_section img{
    width: 49%;
    height: 596px;
}
.main_section .right{
    width: 49%;
    margin: 0;
    padding: 0;
}
.main_section .right h1{
    color: #774E2E;
    font-size: 110px;
    letter-spacing: 5px;
    line-height: 105%;
    margin: 0 0 35px 0;
    padding: 0;
}
.main_section .right h1 span{
    color: #F37F34;
}
.main_section .right p{
    color: #774E2E;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}
.main_section .right button{
    width: 343px;
    height: 69px;
    background-color: #774E2E;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 45px;
}
.cards {
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 60px auto 160px auto;
}
.cards h4{
    color: #774E2E;
    font-size: 72px;
    text-transform: uppercase;
    padding: 0 auto 0 auto;
    margin-bottom: 70px;
}
.cards h4 span{
    color: #F37F34;
}
   .cards .card{
    background-color: white;
    width: 370px;
    height: 462px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards .card h5{
    color: #673B19;
    font-size: 24px;
    letter-spacing: 0.5px;
    padding: 0;
    margin: 32px auto 4px auto;
}
.cards .card p{
    color: #774E2E;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    padding: 0;
    width: 330px;
}
.third_section h4{
    color: #774E2E;
    font-size: 72px;
    text-transform: uppercase;
    margin: 0 0 35px 0;
    padding: 0;
}
.third_section span{
    color: #F37F34;
}
.third_section p{
    color: #774E2E;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 60px;

}
.third_section h5{
    color: #673B19;
    font-size: 24px;
    padding: 0;
    margin-bottom: 20px;
}
.third_section li{
color: #774E2E;
font-size: 16px;
}
.third_section img{
    width: 49%;
}
.third_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 130px 0 150px 0;
}
.third_section-right{
    width: 49%;
    margin: 0;
    padding: 0;
}
.footer{
    background-color: #774E2E;
    color:white;
    width: 100%;
    font-size: 36px;
    display: flex;
    justify-content: center;
}
.footer .center{
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .center img{
    width: 8.5%;
    padding: 40px 0 40px 0;
}